/ClothoProject/nbproject/private/
/ClothoProject/build/
/ClothoProject/ClothoCore/build/
/ClothoApps/SearchAlgorithms/build/
/ClothoApps/HibernateConnectionLibrary/build/
/ClothoProject/ClothoCore/nbproject/private/
/ClothoFabApps/FabDash/build/
/ClothoApps/Grapevine/nbproject/private/
/ClothoProject/jython/build/
/ClothoApps/SearchAlgorithms/nbproject/private/